.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
  gap: 40px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.button {
  padding: 15px 40px;
  background-color: cornflowerblue;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.button:hover {
  opacity: 0.8;
}

.button:disabled {
  background-color: gray;
}
